
bin/resources.ap_

bin/org/example/video/Video.class

bin/org/example/video/R.class

bin/org/example/video/R$string.class

bin/org/example/video/R$drawable.class

bin/org/example/video/R$layout.class

bin/org/example/video/R$attr.class

bin/classes.dex

bin/android_video.apk

src/org/example/video/Video.java

bin/org/example/video/R$id.class
